KERNEL=="eth*", ACTION=="add", RUN+="/usr/local/kobo-rclone-menu/udev_program.sh"
KERNEL=="wlan*", ACTION=="add", RUN+="/usr/local/kobo-rclone-menu/udev_program.sh"
KERNEL=="lo", RUN+="/usr/local/kobo-rclone-menu/udev_mount.sh"

